# 01: Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Data Import

In [2]:
path = r'C:\Users\14239\Downloads\Instacart Basket Analysis'

In [3]:
# Import orders_products_merged_2

ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_2.pkl'))

In [5]:
# Find aggregated mean of user_cumulative_order_number grouped by department_id

ords_prods_merge.groupby('department_id').agg({'user_cumulative_order_number': ['mean']})

              user_cumulative_order_number
                                      mean
department_id
1.0                              15.457838
2.0                              17.277920
3.0                              17.170395
4.0                              17.811403
5.0                              15.215751
6.0                              16.439806
7.0                              17.225802
8.0                              15.340650
9.0                              15.895474
10.0                             20.197148
11.0                             16.170638
12.0                             15.887671
13.0                             16.583536
14.0                             16.773669
15.0                             16.165037
16.0                             17.665606
17.0                             15.694469
18.0                             19.310397
19.0                             17.177343
20.0                             16.473447
21.0                             22.902379

The results of the entire dataframe do not differ largely from the previous subset, usually only +/- less 1 for each department_id. This shows that the subset of 1,000,000 was a reliable sample of the whole dataframe.

In [6]:
# Create loyalty flag

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['user_cumulative_order_number'].transform(np.max)

In [16]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag2'] = 'Loyal customer'

In [17]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag2'] = 'Regular customer'

In [18]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag2'] = 'New customer'

In [19]:
# Spending Habits by customer loyalty

ords_prods_merge.groupby('loyalty_flag2').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag2
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

In [12]:
# Create spending flag

ords_prods_merge['avg_order_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [13]:
ords_prods_merge.loc[ords_prods_merge['avg_order_price'] < 10, 'loyalty_flag'] = 'Low Spender'

In [14]:
ords_prods_merge.loc[ords_prods_merge['avg_order_price'] >= 10, 'loyalty_flag'] = 'High Spender'

In [27]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                  prices
                    mean  min      max
loyalty_flag
High Spender  222.343698  1.0  99999.0
Low Spender     7.780685  1.0     25.0

In [21]:
# Create order frequency flag

ords_prods_merge['days_since_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [22]:
ords_prods_merge.loc[ords_prods_merge['days_since_prior_order'] > 20, 'loyalty_flag3'] = 'Non-Frequent Customer'

In [23]:
ords_prods_merge.loc[(ords_prods_merge['days_since_prior_order'] > 10) & (ords_prods_merge['days_since_prior_order'] <= 20), 'loyalty_flag3'] = 'Regular Customer'

In [24]:
ords_prods_merge.loc[ords_prods_merge['days_since_prior_order'] < 10, 'loyalty_flag3'] = 'Frequent Customer'

In [26]:
ords_prods_merge.groupby('loyalty_flag3').agg({'days_since_prior_order': ['mean', 'min', 'max']})

                      days_since_prior_order
                                        mean   min   max
loyalty_flag3
Frequent Customer                   6.070575   0.0   9.5
Non-Frequent Customer              26.920908  20.5  30.0
Regular Customer                   14.309677  10.5  20.0

In [28]:
# Export orders_products_merged as orders_products_merged_2.pkl

ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_3.pkl'))